header {
  position: relative;
}

.inside {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 45px;
  max-width: var(--max-width);
  margin: 0 auto;
}

.logo {
  font-size: 16px;
  text-decoration: none;
  color: #ED3B0F;
  /* прив’язка до другої вертикальної лінії сітки */
  margin-left: calc(var(--grid-step));
}

.nav {
  display: flex;
  /* прив’язка до 14‑ї вертикальної лінії */
  margin-right: calc(var(--grid-step));
  margin-right: 216px;
}

.nav a {
  font-size: 16px;
  text-decoration: none;
  color: #ED3B0F;
}

.nav a:nth-child(2) {
  margin-left: calc(var(--grid-gutter) + 46px); /* трохи підрегулюй при потребі */
}

.nav a:nth-child(3) {
  margin-left: calc(var(--grid-gutter) + 36px);
}



