
#s1 .inside {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

/* HERO‑блок секції */
.hero {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 5vh;
}

.hero .title {
  width: calc(58% - 2px);
}

#s1 h1 {
  font-size: 6.5rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .01em;
}

.title .surname {
  text-align: right;
}

.hero .brand {
  margin-left: 0;
  padding-left: 14px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 12px;
}

.hero .brand h2 {
  min-width: 200px;
  padding-right: 80px;
}

.hero .year {
  padding-left: 14px;
}

.hero-year {
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: .01em;
}

#s1 h2 {
  max-width: 100px;
  font-size: 1rem;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .001em;
}



/* великий текст */
#s1 h3 {
  font-weight: 700;
  font-size: 17.4rem;
  line-height: 0.85;
  color: var(--txt-color-01);
  margin: 0;
}

/* рядки імені */
#s1 h1 span {
  display: block;
}

#s1 h2 {
  line-height: 1.1; /* менше числа — менший проміжок */
}



.scroll-hint {
    font-size: 1.45rem;
    padding-left: var(--ipad-padding);
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 3rem;
    
    /* Робимо текст і стрілочку в один рядок */
    display: flex;
    flex-direction: row; /* Текст і стрілочка в ряд */
    align-items: center;
    gap: 10px; /* Відступ між текстом і стрілочкою */
    cursor: pointer;
}

.scroll-text {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--txt-color-01);
}

.scroll-icon {
    display: inline-flex;
    color: var(--txt-color-01);
    font-size: 1.2rem; /* Розмір стрілочки */
    transition: transform 0.3s ease;
}

/* АНІМАЦІЯ ПРИ НАВЕДЕННІ */
/* Наводимо на весь блок — рухається тільки стрілочка */
.scroll-hint:hover .scroll-icon {
    animation: arrowScrollBounce 1.5s infinite ease-in-out;
}

/* Ключові кадри: стрілочка стрибає ВНИЗ і повертається */
@keyframes arrowScrollBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px); /* Глибина стрибка */
    }
}
